<html>
<head>
<title>Pacientes</title>
</head>
<body>
	  <h3>Cadastro de Pacientes:</h3>
      <form method="POST">
            <label for="nome">Nome:</label> <input type="text" name="nome" size="100"></input><br />  
            <label for="cpf">CPF:</label> <input type="text" name="cpf" size="10"></input><br /> 
            <label for="telefone">Telefone:</label> <input type="text" name="telefone" size="100"></input><br /> 
            <br /> <input type="submit"  value="Cadastrar"/>
      </form>
      
      <h3>Pacientes</h3>
      <div th:unless="${#lists.isEmpty(pacientes)}">
            <dl th:each="paciente : ${pacientes}">
                  <dt >
                        Nome: <span th:text="${paciente.nome}"/> 
                        CPF: <span th:text="${paciente.cpf}"/>
                        Telefone: <span th:text="${paciente.telefone}"/> 
                  </dt>
            </dl>
      </div>
      <div th:if="${#lists.isEmpty(pacientes)}">
            <p>Nenhum Paciente Cadastrado</p>
      </div>
      
      <hr />
      
      <a href="/menuPrincipal.html">
   	   <input type="button" value="Voltar" />
	  </a>
</body>
</html>